<form method="post" action="/signin">

  	<div class="form-group">
    	<label for="username">Username</label>
    	<input type="text" name="username" class="form-control" id="username" placeholder="Email">
  	</div>


  	<div class="form-group">
    	<label for="password">Password</label>
    	<input type="password" name="password" class="form-control" id="password" placeholder="Password">
  	</div>

    <button type="submit" id="signinBtn"> Login </button>
</form>